<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommentInputBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>219423261F38D1F40098DDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2194233F1F38D1F50098DDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2194234A1F38D1F50098DDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
